body{
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;

    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0%;
}
header{
    background-color: rgb(241, 215, 215);
    background-image: url("../images/flywheel.jpg") ;
    background-size: 100%;
    padding-bottom: 2%;
}
h1{
    font-size: 18pt;
    padding: 2%;
    padding-top: 3%;
    text-align: center;
    text-transform: uppercase;
    color:rgb(241, 219, 219);
    font-family:   "Times New Roman", serif;
  }

 
.left{
      background-color: rgb(115, 133, 53);
      float: left;
      width: 20%;
      padding-bottom: 12%;

  }
 

.right{
    width: 80%;
    font-size: 120%;
    float: right;
}

.right h2, p{
    margin: 20px;
}

/* .right *{
    margin: 6px;
} */

 
.left img{
    display: flex;
    align-items: center;
    justify-content: center;
   width: 70%;
   border-style: solid;
   border-color: rgb(5, 13, 20);
   margin:auto;
   margin-top: 18%;
   margin-bottom: 10%;
   
}

nav a{
    color: black;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 130%;
    padding: 1%  0% 1%  0%;
    margin-left: 3%;
    margin-right: 7%;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    width: 14%;
  
}
nav{
    text-align: center;
    padding-bottom: 2%;
}
.active{
    background-color:rgba(247, 243, 239, 0.9);
    color: rgb(0, 83, 161);
    
}
h2{
    color: rgb(5, 53, 100);
    font-size: 200%;
    text-transform: uppercase;
    font-family:   "Times New Roman", serif;
}

table{
    font-family: "Times New Roman", Times, serif;
    font-size: 22px;
    font-weight: lighter;
    line-height: 1.6;
    width: 90% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    }
     
th{
    
    background-image: linear-gradient(rgb(152, 180, 58), rgb(72, 129, 6));
    border-top: 1px solid rgba(235, 220, 8, 0.877);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 4px solid rgba(235, 220, 8, 0.877);
    padding: 10px 4px 10px 4px;
    text-shadow: 0 0 2px#1189a7
}
 
tr > td:first-child {
    text-align: left;
    
}

tr{
   
    text-align: center;
    opacity: 0.8;
}

tr:hover{
  
   opacity: 1.0;
}

td {
    padding: 10px 4px 10px 4px;
    color: rgb(20, 56, 25); 
    border-radius: 2px;
    text-shadow: 0 0 1px#3509fd;
    border:0px solid rgb(252, 248, 248);
    background-color: rgb(154, 207, 110);  
}
 